<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Director's Films</title>
</head>
<body>
{% for director in directors %}
    <a href="/director/{{ director.id }}/films">
    <button>{{ director.name }}</button>
    </a>

{% endfor %}
<a href="/films/">
    <button>All films</button>
</a>
<h1>Director: {{ director.name }}</h1>
{% for film in director.directors.all %}
<h1>Title: {{ film.title }},

Rate: {{ film.rating }},

Producer: {{ film.producer }}</h1>
    <hr>
{% endfor %}
</body>
</html>