{% extends 'lay_out.html' %}
{% load static %}

{% block content %}
<h1>Films</h1>
{% for film in films  %}
    <h2>
        <a href="/films/{{film.id}}/">{{ film.title }}</a></h2>

    <h3>Director:{{ film.director }}<br>
        Producer:{{ film.producer }}<br>
    Rating:{{ film.rating}}<br>
    Duration:{{ film.duration }}</h3>
    <hr>
{% endfor %}
    <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item {%  if active_page == 1 %}disabled{% endif %}"><a class="page-link" href="/films/?page={{ previous }}">Previous</a></li>
      {% for button in buttons %}
    <li class="page-item {% if button == active_page %}active{% endif %}"><a class="page-link" href="/films/?page={{ button }}">{{ button }}</a></li>
      {% endfor %}
{#Сделал два варианта 'изчезания кнопки' , в Previous она выключается ,а в Next просто изчезает. Не решил какой будет лучше :3#}
    {% if active_page < page_amount %}
    <li class="page-item"><a class="page-link" href="/films/?page={{ next }}">Next</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
